.about {
  flex-direction: column;
  margin-top: 3em;
}

.about__photo {
  width: 200px; /* Adjust the size as needed */
  height: 200px; /* Adjust the size as needed */
  border-radius: 50%; /* Create a circular shape */
  overflow: hidden; /* Hide the parts of the image outside the circle */
}

.about__photo img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio while filling the circle */
}

.about__name {
  color: var(--clr-primary);
}

.about__role {
  margin-top: 1.2em;
}

.about__desc {
  font-size: 25px;
  max-width: 1000px;
  font-family: 'Lato';
}

.about__desc,
.about__contact {
  margin-top: 2.4em;
}

.about .link--icon {
  margin-right: 0.8em;
}

.about .btn--outline {
  margin-right: 1em;
}

@media (max-width: 600px) {
  .app .about {
    align-items: flex-start;
    margin-top: 2em;
  }
}
